@model Git.Web.Models.SearchModel
@{
    ViewData["Title"] = "Git repo search";
}
<h2>Git repo search</h2>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Search" method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SearchCriteria" class="form-control" placeholder="Search criteria" />
                <span asp-validation-for="SearchCriteria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@if (Model.SearchResults != null)
{
    if (Model.SearchResults.CouldRetrieveRepos)
    {
        <div>
            @Html.Partial("_Repos", Model.SearchResults)
        </div>
    }
    else
    {
        <div class="alert alert-danger">@Model.SearchResults.ErrorMessage</div>
    }
}