@{
    ViewData["Title"] = "Home Page";
}


<h1>Git Web</h1>

<div class="panel panel-primary">
    <div class="panel-heading">
        What I am and what I do
    </div>
    <div class="panel-body">
        <ul>
            <li>MVC application built on <strong>.net Core 2.0</strong> that allows users to search github repos.</li>
            <li>Once repos are found, the first 5 will be displayed on a table.</li>
            <li>Underneath each of the repos, the last 5 commits related to it will be displayed.</li>
            <li>The application has been developed mostly using <strong>test first</strong>.</li>
            <li><strong>No github authenticaion</strong> has been embeded so the number of requests for commits is restricted.</li>
            <li>A <strong>response cache</strong> of 180 seconds has been added to the search.</li>
        </ul>
        <p>To start click <a asp-area="" asp-controller="Repository" asp-action="Index">here</a></p>
    </div>
</div>